<div class="container">
	<div class="row">
		<div class="col-sm-9 col-md-9 user-details">
            <div class="user-image">
                <img src="http://www.gravatar.com/avatar/2ab7b2009d27ec37bffee791819a090c?s=100&d=mm&r=g" alt="Karan Singh Sisodia" title="Karan Singh Sisodia" class="img-circle">
            </div>
            <div class="user-info-block">
                <div class="user-heading">
                    <h3>FIRST_NAME LAST_NAME</h3>
                    <span class="help-block">STATE, COUNTRY</span>
                </div>
                <ul class="navigation">
                    <li [class.active]="currenttab==1" (click)="changetab(1)">
                        <a data-toggle="tab" data-target="#information">
                            <span class="glyphicon glyphicon-user">User Info</span>
                        </a>
                    </li>
                      
                    <li [class.active]="currenttab==2" (click)="changetab(2)">
                        <a data-toggle="tab" data-target="#settings">
                            <span class="glyphicon glyphicon-cog">Edit Profile</span>
                        </a>
                    </li>
                    
                </ul>
                <div class="user-body">
                    <div class="tab-content">
                        <div id="information" class="tab-pane" [class.active]="currenttab==1">
                            <h4>Account Information</h4>
                        </div>
                        <div id="settings" class="tab-pane" [class.active]="currenttab==2">
                            <!-- -------------------edit profile---------------------- -->

                        <form name="userForm"  novalidate>       
						<div class="row">
					        <div class="col-sm-12 form-group">
						        <input type="text" placeholder="first name" class="form-control" name="signinUsernmeName"  required email  >
						
					        </div>
					        <div class="col-sm-12 form-group">
                                <input type="text" placeholder="last name" class="form-control"  required >
                            </div>
                            <div class="col-sm-12 form-group">
                                <input type="text" placeholder="e-mail" class="form-control"  required >
                            </div>
                            <div class="col-sm-12 form-group">
                                <input type="text" placeholder="phone country code" class="form-control"  required >
                            </div>
                            <div class="col-sm-12 form-group">
                                <input type="text" placeholder="phone number" class="form-control"  required >
                            </div>
                            <div class="text-center  ">
                                <button type="button" class="btn btn-primary btn-primary-border ">Reset</button>
                                <button type="submit" class="btn btn-primary " >Update</button>
                            </div>
				        </div>
                        </form>   
                            <!-- --------------------edit profile end--------------------- -->
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
	</div>
</div>