<ngb-tabset>
  <ngb-tab title="Sign In">
    <ng-template ngbTabContent>
      <div class="row">
        <!-- <button type="button" class="close" aria-label="Close" (click)="close()">X</button> -->

          <div class="container">
    	<h1 class="logHead">Sign in</h1>
		<div class="col-lg-12 well">
				<div class="row">
					<div class="col-sm-6 form-group">
						<label>User Name</label>
						<input type="text" placeholder="username.." class="form-control" name="signinUsernmeName" [(ngModel)]="signinUsername" required email  >
						
					</div>
					<div class="col-sm-6 form-group">
						<label>Password</label>
						<input type="password" placeholder="password.." class="form-control" name="signinPassword" [(ngModel)]="signinPassword" required >
					</div>
				</div>
				<div class="row">				
				  <div class="col-sm-12 text-center">
					<button type="button" class="btn btn-block btn-info"(click)="signIn()">Sign in</button> 
				  </div>
				</div>				  
				<div class="or-text">
					<div class="or-text-row">
						<div class="or-text-line">
							<button type="button" class="btn btn-default btn-circle" disabled="disabled">or</button>
						</div>
					</div>
				</div>
				<div class="row">				
				  <div class="col-sm-12 text-center">
					<button type="button" class="btn btn-danger btn-block socialText" (click)=googleLogin()><i class="fa fa-google-plus"></i>Sign in with GooglePlus</button> 
				  </div>
				</div>
				<div class="row">				
				  <div class="col-sm-12 text-center">
					<button type="button" class="btn btn-primary btn-block socialText" (click)=fbLogin()><i class="fa fa-facebook"></i>Sign in with Facebook</button> 
				  </div>
				</div>
				<div class="row">				
				  <div class="col-sm-12 text-center">
					<button type="button" class="btn btn-info btn-block socialText" (click)=twitterLogin()><i class="fa fa-linkedin"></i>Sign in with Twitter</button> 
				  </div>
				</div>
		</div>
	</div>



      </div>
      
    </ng-template>
  </ngb-tab>
  <ngb-tab title="SignUp">
    <ng-template ngbTabContent>
      <div class="row">
        <!-- <button type="button" class="close" aria-label="Close" (click)="close()">X</button> -->

          <div class="container">
    	<h1 class="logHead">Sign up </h1>
		<div class="col-lg-12 well">
				<div class="row">
					<div class="col-sm-12 form-group">
						<label>First Name</label>
						<input type="text" placeholder="first name.." class="form-control">
					</div>
					<div class="col-sm-12 form-group">
						<label>Last Name</label>
						<input type="text" placeholder="last name.." class="form-control">
					</div>
					<div class="col-sm-12 form-group">
						<label>Select a username</label>
						<input type="text" placeholder="username.." class="form-control">
					</div>
					<div class="col-sm-12 form-group">
						<label>Enter a password</label>
						<input type="password" placeholder="password.." class="form-control">
					</div>
				</div>
				<div class="row">				
				  <div class="col-sm-12 text-center signupButton">
					<button type="button" class="btn btn-block btn-info ">Sign Up Now</button> 
				  </div>
				</div>	
					
		</div>
	</div>



      </div>
      
    </ng-template>
  </ngb-tab>
</ngb-tabset>